{% extends 'layouts/main.html' %} {% block title %}Venue Search{% endblock %} {%
block content %}
<div class="row">
    <div class="col-sm-6">
        <h1 class="monospace">{{ venue.name }}</h1>
        <div class="row">
            <form method="GET" action="/venues/{{ venue.id }}/edit">
                <input type="submit" value="Edit venue" class="btn btn-sm" />
            </form>
            <form method="POST">
                <button class="btn" type="submit">
                    <span>delete</span>
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bin bi bi-trash"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                        />
                        <path
                            fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        />
                    </svg>
                </button>
            </form>
        </div>
        <p class="subtitle">ID: {{ venue.id }}</p>
        <div class="genres">
            {% for genre in venue.genres %}
            <span class="genre">{{ genre }}</span>
            {% endfor %}
        </div>
        <p>
            <i class="fas fa-globe-americas"></i> {{ venue.city }}, {{
            venue.state }}
        </p>
        <p>
            <i class="fas fa-map-marker"></i> {% if venue.address %}{{
            venue.address }}{% else %}No Address{% endif %}
        </p>
        <p>
            <i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone
            }}{% else %}No Phone{% endif %}
        </p>
        <p>
            <i class="fas fa-link"></i> {% if venue.website %}<a
                href="{{ venue.website }}"
                target="_blank"
                >{{ venue.website }}</a
            >{% else %}No Website{% endif %}
        </p>
        <p>
            <i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a
                href="{{ venue.facebook_link }}"
                target="_blank"
                >{{ venue.facebook_link }}</a
            >{% else %}No Facebook Link{% endif %}
        </p>
        {% if venue.seeking_talent %}
        <div class="seeking">
            <p class="lead">Currently seeking talent</p>
            <div class="description">
                <i class="fas fa-quote-left"></i> {{ venue.seeking_description
                }} <i class="fas fa-quote-right"></i>
            </div>
        </div>
        {% else %}
        <p class="not-seeking">
            <i class="fas fa-moon"></i> Not currently seeking talent
        </p>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <img src="{{ venue.image_link }}" alt="Venue Image" />
    </div>
</div>
<section>
    <h2 class="monospace">
        {{ venue.upcoming_shows_count }} Upcoming {% if
        venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}
    </h2>
    <div class="row">
        {%for show in venue.upcoming_shows %}
        <div class="col-sm-4">
            <div class="tile tile-show">
                <img
                    src="{{ show.artist_image_link }}"
                    alt="Show Artist Image"
                />
                <h5>
                    <a href="/artists/{{ show.artist_id }}"
                        >{{ show.artist_name }}</a
                    >
                </h5>
                <h6>{{ show.start_time|datetime('full') }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2 class="monospace">
        {{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1
        %}Show{% else %}Shows{% endif %}
    </h2>
    <div class="row">
        {%for show in venue.past_shows %}
        <div class="col-sm-4">
            <div class="tile tile-show">
                <img
                    src="{{ show.artist_image_link }}"
                    alt="Show Artist Image"
                />
                <h5>
                    <a href="/artists/{{ show.artist_id }}"
                        >{{ show.artist_name }}</a
                    >
                </h5>
                <h6>{{ show.start_time|datetime('full') }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
